data/raw_feeds/*
data/word_counts/*
.*.swp
data/configs/db_credentials.txt

*.pyc

web/trends/__pycache__/views.cpython-34.pyc

*.pyc

web/trends/__pycache__/urls.cpython-34.pyc

web/trends/__pycache__/views.cpython-34.pyc
