<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% load staticfiles %}
  <link href="{% static "trends/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
  <link href="{% static "trends/map/usa.css" %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static "trends/bootstrap/js/bootstrap.js" %}"></script>
  <script src="{% static "trends/map/map.js" %}"></script>

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
</head>

<body onload="update('{% static "trends/map/usa.json" %}');" >
<table class="table">
  <tr>
    <td><div id="map-area"></div></td>
    <td>
      <div id="result-area">
        <h2 class="result-header">select a city to view results</h2>
      </div>
    </td>
    <td> </td>
  </tr>
</table>
</body>
</html>
