a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #428bca;
}
a:active {
  text-decoration: none;
}

.result-item a:link {
  color: black;
}
.result-item a:visited {
  color: black;
}

input#search {
  width: 300px;
}
div#search-form {
  padding-top: 22px;
}
td {
  width: 550px;
}
div#result-area {
  overflow: scroll;
  height: 550px;
  padding-left: 0px;
  width: 200px;
}
.result-item {
  padding-left: 0px;
}
h2.title {
  color: #aaa;
  padding-left: 30px;
}
h2.result-header {
  text-transform: lowercase;
  color: #0BBED6;
  padding-left: 0px;
}
h2.loading {
  text-transform; lowercase;
  color: #aaa;
}
.fail {
  color: #E37F7F;
}
.subunit { fill: #efe; }
.subunit-boundary {
  fill: none;
  stroke: #aaa;
}
text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  fill: #777;
}
text.selected {
  fill: #0BBED6;
  font-weight: bold;
}
text.selectable:hover {
  font-weight: bold;
}

circle.density {
  fill: #0BBED6;
}
